In [87]:
import mysql.connector as mysql
from mysql.connector import Error
import pandas as pd
import numpy as np

In [88]:
dataset = pd.read_csv("Airplane_Crashes_and_Fatalities_Since_1908.csv")

In [89]:
db_name='airplane_crashes'
try:
    mydb = mysql.connect(host='localhost', user='root', password='franci22') # you can add the auth_plugin here too (ref line 26)
    if mydb.is_connected():
        mycursor = mydb.cursor()
        mycursor.execute('SHOW DATABASES')
        result = mycursor.fetchall()
        print(result)
        for x in result:
            if db_name == x[0]:
                mycursor.execute('DROP DATABASE ' + db_name) # delete old database
                mydb.commit() # make the changes official
                print("The database already exists! The old database has been deleted!)")

        mycursor.execute("CREATE DATABASE "+ db_name)
        print("Database is created")
except Error as e:
    print("Error while connecting to MySQL", e)

[('airplane_crashes',), ('electronics',), ('example_database',), ('GoShare',), ('information_schema',), ('mid_practice',), ('movies',), ('mysql',), ('parents',), ('performance_schema',), ('sys',)]
The database already exists! The old database has been deleted!)
Database is created

In [90]:
mycursor.execute('USE' + ' ' + db_name)

In [91]:
#create tables
mycursor.execute(
      '''
        CREATE TABLE `Airplane` (
          `serial_number` varchar(100),
          `registration` varchar(100),
          `operator` varchar(100),
          `type` varchar(100),
          PRIMARY KEY (serial_number, registration)
        );
      '''
      )

In [92]:
mycursor.execute(
      '''
        CREATE TABLE Flight (
           flight_number varchar(100),
           aboard int,
           route varchar(100),
           serial_number varchar(100),
           registration varchar(100),
           PRIMARY KEY (flight_number),
           FOREIGN KEY (`serial_number`, `registration`) REFERENCES `Airplane` (`serial_number`, `registration`)
        );
      '''
      )

In [93]:
mycursor.execute(
    '''
        CREATE TABLE `Crash` (
          `index` int,
          `location` varchar(100),
          `time` time,
          `date` date,
          `summary` varchar(100),
          `serial number` varchar(100),
          `registration` varchar(100),
          PRIMARY KEY (`index`),
          FOREIGN KEY (`serial number`, `registration`) REFERENCES `Airplane`(`serial_number`, `registration`)
        );
    '''
)

In [94]:
mycursor.execute(
    '''
    CREATE TABLE `Fatalities` (
    `number_of_fatalities` int,
    `ground` int,
    `crash_index` int,
    PRIMARY KEY (`crash_index`),
    FOREIGN KEY (`crash_index`) REFERENCES `Crash`(`index`)
);
    '''
)

In [95]:
selection = dataset.iloc[3196:] #take values from 1980-90 and take all columns except from the first
null_val = selection.isnull().sum()
selection = selection.drop(labels='Flight #', axis=1)

In [96]:
import random

flight_number = []

while len(flight_number) != 2072:
    n = random.randint(1000, 10000)
    if n not in flight_number:
        flight_number.append(n)


selection.insert(6, 'Flight#', flight_number)



serial_num = selection.loc[3196:, 'cn/In']
serial_num_ = list(serial_num)
selection = selection.drop(labels='cn/In', axis=1)

for x in range(len(serial_num_)):
    n = random.randint(100, 8000)
    if serial_num_[x] is np.nan:
        while n in serial_num:
            n = random.randint(100, 8000)
        serial_num_[x] = str(n)

selection.insert(9, 'Serial#', serial_num_)


registration = selection.loc[3196:, 'Registration']
registration_ = list(registration)
selection = selection.drop(labels='Registration', axis=1)

import string
for r in range(len(registration_)):
    reg1 = ''.join(random.choice(string.ascii_uppercase) for x in range(2))
    reg2 = ''.join(random.choice(string.ascii_uppercase) for x in range(3))
    reg = reg1+'-'+reg2
    if reg not in registration_:
        registration_[r] = reg

selection.insert(8, 'Registration', registration_)

In [97]:
datairplane = selection[['Serial#', 'Registration', 'Operator', 'Type']]

In [98]:
selection.head(2000)

,index,Date,Time,Location,Operator,Route,Flight#,Type,Registration,Serial#,Aboard,Fatalities,Ground,Summary
3196,3196,01/02/1980,NaN,Haiti,Ha√Øti Air Inter,Port au Prince - Cape Haitien,5953,Britten Norman BN Islander,ID-CRO,474,9.0,9.0,0.0,Struck high ground in poor visibility while en...
3197,3197,01/11/1980,01:23,Over the AtlantiOcean,Private charter,Shreveport - Baton Rouge,2008,Cessna 441 Conquest,CE-GVM,5457,2.0,2.0,0.0,The plane was on a 45 minute fight from Shreve...
3198,3198,01/21/1980,19:10,"Elburz Mtns., near Laskarak, Markazi, Iran",Iran National Airlines,Babol Sar - Tehran,1361,Boeing B-727-86,KE-WNI,19817/537,128.0,128.0,0.0,The aircraft crashed into a mountain during a ...
3199,3199,01/23/1980,NaN,"Mt. Cemonyet, Indonesia",Pelita Air Service,NaN,6175,CASA 212 Aviocar 100,UE-UTA,45/3N,13.0,13.0,0.0,"Hit high ground at 2,700 ft. in poor weather w..."
3200,3200,01/24/1980,06:20,"Near Mandalay, Burma",Military - Union of Burma Air Force,Mandalay - Rangoon,7465,Fairchild FH-227H,VV-ISF,545,44.0,43.0,0.0,Crashed into a building while attempting an em...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,5191,02/26/2008,16:16,"Off Macae , Rio de Janeiro , Brazil",BHS - Brazilian Helicopter Service Air Taxi,Oil Rig P18 - Macae,9266,Eurocopter AS332L2 Super Puma,QR-JVX,2570,20.0,5.0,0.0,Less than half minute after the taking-off fro...
5192,5192,03/03/2008,16:00,"Near Bethani, Nepal",United Nations Mission,NaN,6222,Mi-17,XF-UOS,5539,10.0,10.0,0.0,"The helicopter, carrying United Nations person..."
5193,5193,03/15/2008,08:15,"Nbagu, Nigeria",Trade Wings Aviation Ltd.,Lagos - Bebi Air Strip,5326,Beechcraft 1900D,JV-EJL,UE-322,3.0,3.0,0.0,The plane crashed while en route. Wreckage was...
5194,5194,04/03/2008,11:00,"Lawa, Suriname",Blue Wing Airlines,Paramaribo - Lawa,4787,Antonov An-28,IZ-LAH,1AJ007-17,19.0,19.0,0.0,While attempting to land the crew aborted the ...
5195,5195,04/09/2008,23:27,"Bundeena, Australia",Avtex Air Services,Sydney - Brisbane,9335,Swearingen SA227AC Metroliner III,KL-AUH,AC-600,1.0,1.0,0.0,The pilot of the mail plane reported some mino...

In [99]:
for i,row in datairplane.iterrows():
    sql = "INSERT INTO airplane_crashes.Airplane VALUES (%s,%s,%s,%s)"
    mycursor.execute(sql, tuple([row['Serial#'], row['Registration'], row['Operator'], row['Type']]))
    mydb.commit()

In [100]:
mycursor.execute("SELECT * FROM Airplane")
result = mycursor.fetchall()
#print(result)

In [101]:
dataflight = selection[['Flight#', 'Aboard', 'Route', 'Serial#', 'Registration']]

In [102]:
for i, row in dataflight.iterrows():
    sql = "INSERT INTO airplane_crashes.Flight VALUES (%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple([row['Flight#'], row['Aboard'], row['Route'], row['Serial#'], row['Registration']]))

    mydb.commit()

In [104]:
datacrash = selection[['index', 'Location', 'Time', 'Date', 'Summary', 'Serial#', 'Registration']]

In [107]:
for i, row in datacrash.iterrows():
    sql = "INSERT INTO airplane_crashes.Crash VALUES (%s,%s,%s,%s,%s,%s,%s)"
    mycursor.execute(sql, tuple([row['index'], row['Location'], row['Time'], row['Date'], row['Summary'], row['Serial#'], row['Registration']]))

    mydb.commit()

ProgrammingError: Not all parameters were used in the SQL statement